<nav class="navbar">

    <div class="logo">
        <a href="../index.html">Mbugangari Home</a>
    </div>

    <ul class="nav-links">

        <li><a href="../index.html">Home</a></li>

        <li><a href="../pages/about.html">About</a></li>

        <li><a href="../pages/rooms.html">Rooms</a></li>

        <li><a href="../pages/gallery.html">Gallery</a></li>

        <li><a href="../pages/materials.html">Materials</a></li>

        <li><a href="../pages/history.html">History</a></li>

        <li><a href="../pages/location.html">Nearby Places</a></li>

    </ul>

</nav>
